<!DOCTYPE html>
<html>
<head>
<title>Battleship</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/yeti/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>

  <ul class='nav nav-pills'>
    <li><a href='<%= root_path %>'>home</a></li>
    <% if current_user.nil? %>
      <li><a href='<%= new_user_session_path %>'>log in</a></li>
      <li><a href='<%= new_user_registration_path %>'>sign up</a></li>
    <% else %>
<li><a href='<%= new_user_registration_path %>'>Lobby</a></li>
      <li><a data-method="delete" href='<%= destroy_user_session_path %>'>log out</a><li>
    <% end %>
  </ul>

  <%= yield %>

</div>

</body>
</html>
